

.pan {
    height:40px;
    width: 400px;
    color: #e6c14b;
    border-style: solid;
    border-color: #e6c14b;
    background-color: #e6c14b;
    margin: 0px auto;
    border-radius:  100px 100px 0 0;border-bottom: 15px solid;border-top:1px solid;
    
}

.salchicha{
    height:45px ;
    width: 450px;
    color: rgb(218, 151, 9);
    border-style: solid;
    border-color: #8a1f04;
    background-color: #8a1f04;
    margin:0px auto;
    border-radius: 12px;border-bottom: 120px;border-top:44;
}
.pandown{
    height:40px;
    width: 400px;
    color: #e6c14b;
    border-style: solid;
    border-color:#e6c14b;
    background-color: #e6c14b;
    margin: 0px auto;
    border-radius:0 0 100px 100px;border-bottom: 15px solid;border-top:1px solid;
}